.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess


# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/assets/vendor/*
/assets/api/*
/assets/icons/*
/assets/images/*
/assets/fonts/*
/system/
/files/barcode/*
/files/datatabase/*
/files/pegawai/*
/files/siswa/*
/files/xml/*
/updated.sql
/AFE.xml
/NOTE
/readme.proc
/export_timetables.xml
/log_db.log
/note.html
/tes.xml
/check_tagihan.sql
/readme.rst
/application/config/database.php
/application/libraries/tcpdf/
/note
!/assets/vendor/sweetalert/
/assets/vendor/sweetalert/example/
/assets/vendor/sweetalert/lib/
/assets/vendor/sweetalert/LICENSE
/assets/vendor/sweetalert/.bower.json
/assets/vendor/sweetalert/bower.json
/assets/vendor/sweetalert/README.md
/assets/vendor/sweetalert/sweetalert.gif
/assets/vendor/sweetalert/.editorconfig