/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 20, 2017, 6:39:56 PM
    Author     : rohmad
*/

.line-divider {
    margin-top: 5px;
    margin-bottom: 5px;
}

.pace .pace-progress {
    background: #9b59b6;
}

.pace .pace-progress-inner {
    box-shadow: 0 0 10px #9b59b6, 0 0 5px #9b59b6;
}

.pace .pace-activity {
    border-top-color: #9b59b6;
    border-left-color: #9b59b6;
}

.dropdown-menu {
    left: -100px;
}
.sweet-alert p {
    max-height: 300px;
    overflow: auto;
}